<div class="title">
<h1>Welcome to PokerWare</h1>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Subscripe to PokerWare
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">PokerWare subscription</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form>
        <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputName" >Name</label>
                <input type="text" class="form-control" id="exampleInputName"  placeholder="Enter your name">
              </div>
        
              <div class="form-group">
                <label for="exampleInputName">First name</label>
                <input type="text" class="form-control" id="exampleInputName"  placeholder="Enter your first name">
              </div>
        
        
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
              
            </div>
        
            <div class="form-group">
                <label for="exampleInputEmail1">Confirm your mail adress</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Confirm email" >
              </div>
        
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
        
            <div class="form-group">
                <label for="exampleInputPassword1">Confirm your password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password" >
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </div>
    </form>
      </div>
    </div>
  </div>



<!-- <form>

    <div class="form-group">
        <label for="exampleInputName" >Name</label>
        <input type="text" class="form-control" id="exampleInputName"  placeholder="Enter your name">
      </div>

      <div class="form-group">
        <label for="exampleInputName">First name</label>
        <input type="text" class="form-control" id="exampleInputName"  placeholder="Enter your first name">
      </div>


    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">
      
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Confirm your mail adress</label>
        <input type="email" class="form-control" id="exampleInputEmail1"  >
      </div>

    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <div class="form-group">
        <label for="exampleInputPassword1">Confirm your password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" >
      </div>
    <div class="buttonCenter">
    <button type="submit" class="btn btn-primary">Submit</button></div>
  </form> -->



<!-- <span>Nom : </span> 
<input type="text"/><br/><br/>
<span>Prénom : </span> 
<input type="text"/><br/><br/>
<span>Date de naissance : </span> 
<input type="date"/><br/><br/>
<span>Email : </span> 
<input type="email"/><br/><br/>
<span>Confirmer votre mail : </span> 
<input type="email"/><br/><br/>
<span>Mot de passe : </span> 
<input type="password"/><br/><br/>
<span>Confirmer votre mot de passe : </span> 
<input type="password"/><br/><br/> -->

